<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="../../dist/img/letter-d.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Digital Talent Hub</span>
    </a>
  
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../dist/img/admin.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= currentUser.username %></a>
        </div>
      </div>
  
      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
  
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <% if (currentUser.role === "admin") {%> 
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">Alumni</li>
          <li class="nav-item">
            <a href="/alumni" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                List Alumni
              </p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a href="/alumni/new" class="nav-link">
              <i class="nav-icon fas fa-plus"></i>
              <p>
                Tambah Data Alumni
              </p>
            </a>
          </li> -->
          <li class="nav-item">
            <a href="/program" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                List Program
              </p>
            </a>
          </li>
          <li class="nav-header">Lowongan</li>
          <li class="nav-item">
            <a href="/lowongan" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Kelola Lowongan
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/lowongan/new" class="nav-link">
              <i class="nav-icon fas fa-plus"></i>
              <p>
                Tambah Lowongan Baru
              </p>
            </a>
          </li>
        </ul>
        <% } %> 
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  