<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3 border py-3 mb-3">
    <h3 class="text-center">Daftar</h3>
    <form
      action="/users/register"
      method="post"
      class="needs-validation"
      novalidate
    >
      <div class="form-outline mb-4">
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          required
        />
        <label class="form-label" for="name">Nama</label>
        <div class="invalid-feedback">Nama tidak boleh kosong.</div>
      </div>
      <div class="form-outline mb-4">
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
        <label class="form-label" for="username">Username</label>
        <div class="invalid-feedback">Username tidak boleh kosong.</div>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          required
        />
        <label class="form-label" for="email">Email</label>
        <div class="invalid-feedback">Email tidak boleh kosong.</div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
        <label class="form-label" for="password">Password</label>
        <div class="invalid-feedback">Password tidak boleh kosong.</div>
      </div>

      <div class="form-outline mb-4">
        <select
          class="form-select"
          name="role"
          aria-label="Default select example"
        >
          <% for (role of roles) {%>
          <option value="<%= role %>"><%= role %></option>
          <% } %>
        </select>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <!-- <div class="row mb-4">
              <div class="col d-flex justify-content-center"> -->
      <!-- Checkbox -->
      <!-- <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
                  <label class="form-check-label" for="form2Example34"> Remember me </label>
                </div>
              </div>
          
              <div class="col"> -->
      <!-- Simple link -->
      <!-- <a href="#!">Forgot password?</a>
              </div>
            </div>
           -->
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Daftar
      </button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Sudah memiliki akun? <a href="/users/login">Masuk</a></p>
        <p>atau masuk menggunakan:</p>
        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>
  </div>
</div>
